/* 全局样式表 */

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

.el-breadcrumb {
    padding-bottom: 15px;
    font-size: 12px;
}

.el-table {
    margin-top: 15px;
}

.el-pagination {
    margin-top: 15px;
}

.el-steps {
    margin: 15px 0;
}

.el-step__title {
    font-size: 13px;
}


/* 富文本编辑器的最小高度 */

.ql-editor {
    min-height: 300px;
    /* min-width: 300px; */
}